*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // This will define the value of 1 REM ( root-em => relative )
}

body{
    box-sizing: border-box;
}
